.search_btn {
	margin: 20px 0px 0px 20px;
}

.ui-autocomplete { 
	max-height: 200px; overflow-y: scroll; overflow-x: hidden;
}

.counter { 
	border: 1px solid #ccc; 
	color: black; 
	font-size: 110%; 
	padding: 1px 10px 6px 10px;
	margin: 0px -4px 0px 0px;
}

.counterOuterBox {
	width: 10%;
}