<legend>Flight Search</legend>
<div class="margin-top-05 margin-left-05">
	<div class="form-group col-sum-10">
		<%= form_tag({controller: "search", action: "search"}, class: "form-horizontal") do %>

			<div class="col-sm-2">
				<label for="from_city" class="col-sm-2 control-label">From</label>
				<%= text_field_tag :from_city, nil,:class=>"city_autocomplete",:placeholder=>'Type Departure City', :style=>"width:200px;" %>
			</div>
			<div class="col-sm-2">
				<label for="to_city" class="col-sm-2 control-label">To</label>
				<%= text_field_tag :to_city, nil,:class=>"city_autocomplete",:placeholder=>'Type Destination City', :style=>"width:200px;" %>
			</div>
			<div class="col-sm-2 counterOuterBox">
				<label class="control-label">Adult Count</label>
				<div>
					<a class="decrement_counter counter" href="javascript:" onclick="decrementer()">-</a>
					<span class="adultCount counter">1</span>
					<%= hidden_field_tag( :adult_count, nil, :value => 1, :class=>"count") %>
					<a class="increment_counter counter" href="javascript:" onclick="incrementer()">+</a>
				</div>
			</div>
			<div class="col-sm-2">
				<label class="control-label">Depart</label>
				<%= text_field_tag :departure_date %>
			</div>
			<div class="col-sm-2">
				<%= submit_tag("Search Flights",:class=>"btn btn-primary search_btn") %>
			</div>
		<% end %>
	</div>
</div>

<div class='clearfix'></div>
<div class='clearfix'></div>

<div id='show_data'>
	<h4>Flights Available Between A and B</h4>
	<table class="table table-bordered">
		<thead>
		  <tr>
		  	<td>CARRIER DETAILS</td>
		    <td>DEPARTURE</td>
		    <td>ARRIVAL</td>
		    <td>DURATION</td>
		    <td>PRICE</td>
		    <td></td>
		  </tr>
		</thead>
		<tbody>
			<% if !@response.blank? && !@response['trips'].blank? %>
			  <% @response['trips']['tripOption'].each do |r| %>
			    <tr>
			    	<td><%= r['slice'].first['segment'].first['flight']['carrier'] + '-' + r['slice'].first['segment'].first['flight']['number'] %></td>
			      <td><%= r['slice'].first['segment'].first['leg'].first['departureTime'] %></td>
			      <td><%= r['slice'].first['segment'].first['leg'].first['arrivalTime'] %></td>
			      <td><%= r['slice'].first['duration'] %></td>
			      <td><%= r['saleTotal'] %></td>
			      <td></td>
			    </tr>
			  <% end %>
			<% else %>
				<td>NO DATA FOUND</td>
			<% end %>
		</tbody>
	</table>
</div>